.content > ul > li {
    margin-left: 0;
}

.bullets > ul > li {
    margin-left: 30px;
    text-align: left;
}

.center.bullets > ul > li {
    text-align: center;
}

#footer {
    display: none;
}

.content.bullets {
    margin-top: 40px !important;
}
